:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Global RTL table fixes */
/* [dir='rtl'] .v-data-table-header__content {
  justify-content: flex-end;
} */

[dir='rtl'] .v-data-table__td--start {
  text-align: right;
}

[dir='rtl'] .v-data-table__td--end {
  text-align: left;
}

[dir='rtl'] .v-data-table__td--center {
  text-align: center;
}
[dir='rtl'] .v-data-table th,
[dir='rtl'] .v-data-table td {
  text-align: right !important;
}

[dir='rtl'] .v-text-field input,
[dir='rtl'] .v-text-field .v-label,
[dir='rtl'] .v-select .v-select__selection-text,
[dir='rtl'] .v-select .v-label {
  text-align: right !important;
}

[dir='rtl'] .v-text-field .v-field__input {
  text-align: right;
  direction: rtl;
}

[dir='rtl'] .v-select .v-field__input {
  direction: rtl;
}
